.platform-container {
  background-image: url("/src/assets/train.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
}

.upload-button {
  width: 90%;
  padding: 12px;
  background-color: #243fd1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 500px;
}

.dashboard-container {
  min-height: 700px;
  width: 45%;
  background: white;
  border-radius: 4px;
}

.info-container {
  width: 60%;
}
.input-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.csvbutton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-secondary {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: white;
  margin: 15px;
  background: none;
  border: none;
  font-weight: 600;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.input-primary {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
  width: 220px;
}
.text-primary {
  margin: 10px;
  color: white;
  font-size: 18px;
  line-height: 20px;
  color: white;
  padding-bottom: 10px;
}

.platform-display-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 20px;
}

.train-card {
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  min-width: 250px;
  top: -20px;
  left: 75px;
  animation: moveSmoothly 3s ease-in-out forwards;
}

.train-card-div.visible {
  animation: moveSmoothly 3s ease-in-out forwards;
  opacity: 1;
}

.train-card-div.exit {
  animation: moveOut 3s ease-in-out forwards;
  opacity: 0;
}
@keyframes moveSmoothly {
  from {
    left: calc(100% - 100px);
  }
  to {
    left: 0;
  }
}

.train-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
}

.train-number {
  font-weight: 500;
  color: #243fd1;
}

.train-priority {
  background-color: #243fd1;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.train-arrival {
  color: #e53935;
  font-size: 14px;
  position: relative;
  padding-left: 12px;
}

.train-arrival::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}
